* {
    box-sizing: border-box;
}

.theme--dark {
    background-color: #202025;
    color: #F4F4F4;
}

.theme--dark a:link {
    color: #F4F4F4;
}

.theme--dark a:visited {
    color: #F4F4F4;
}

.hiden {
    display: none;
}